<p style="color: green"><%= notice %></p>

<h1>Calls</h1>

<div id="calls">
  <% @calls.each do |call| %>
    <%= render call %>
    <p>
      aaa
    </p>
  <% end %>
</div>

<%= link_to "New call", new_client_call_path(@client)  %>
